.list_btn_div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.list_btn_div button{
    width: 100px;
    height: 30px;
}
.date_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.emp_div{
    display: flex;
    flex-direction: column;
}

@media (max-width: 991px){
   
    .date_div input{
        width: 80%;
        font-size: 50%;
    }
    .date_div form{
        margin-left: 5px;
    }
    .date_div form button{
        font-size: 100%;
    }
    .emp_div{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 765px){
    .date_div form{
        margin-left: 5px;
    }
    .date_div input{
        width: 60%;
        font-size: 50%;
    }
    .date_div form button{
        font-size: 80%;
        width: 60%;
    }
}